    <div>
        <div class='d-flex justify-content-center'>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="tradeCheckbox">
                <label class="form-check-label font-weight-bold" for="tradeCheckbox">交易點</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="ma5Checkbox">
                <label class="form-check-label font-weight-bold" for="ma5Checkbox">5MA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="ma10Checkbox">
                <label class="form-check-label font-weight-bold" for="ma10Checkbox">10MA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="ma20Checkbox">
                <label class="form-check-label font-weight-bold" for="ma20Checkbox">20MA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="ma40Checkbox">
                <label class="form-check-label font-weight-bold" for="ma40Checkbox">40MA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="ma60Checkbox">
                <label class="form-check-label font-weight-bold" for="ma60Checkbox">60MA</label>
            </div>
            <input type="button" id="applyStockConfig" value="套用" class="btn btn-dark" />
        </div>
        <div class="rounded border border-dark bg-light" id='stockArea'> </div>
    </div>
<script>
</script>
