<div class='p-2'>
股票是一種非常重視紀律的一種投資方式，且要屏除人為感情上的影響，這樣才可以盡量避免在短期上沖下洗的股海中，被洗出場的命運。但既然要紀律，就要有特定規則要遵守，一般來說，我們可以用幾個步驟來設定自己的策略。
<ol>
    <li>設定交易策略，例如 K9 > D9 (KD黃金交叉)買入，D9 > K9 (KD死亡交叉)賣出
    <li>抓取所要股票的歷史交易紀錄
    <li>將歷史交易紀錄, 根據設定的交易策略，模擬最後投資成效
</ol>
簡單來說，上述幾個步驟，就是所謂的回測，一般來說，投資人可以不斷地根據模擬成效來修正自己的交易策略，進而找到一個適合自己的投資方式，然後透過紀律性的執行自己的交易策略，來盡可能達成<span class='text-primary'>輸少贏多</span>的結果，因為股票投資不可能每次都會獲利，但只要穩定維持輸少贏多的情況，相信最後結果應該都會是好的。
<br>
上述的回測看起來簡單，但一般來說可以做回測的投資人，大概都會一些程式設計，例如 Python，然後透過程式抓取股票歷史資訊，可以並不是所有人都可以有程式設計的能力，所以回測最常遇到的兩個問題就是，<span class='text-danger'>怎麼拿到股票歷史資料</span>，以及<span class='text-danger'>怎樣自動模擬交易</span>，本網站工具提供了
<li>可以解決這兩個問題，讓每個投資人都可以專心在於自己的投資策略的設計，而非為了做回測，還要先花時間學寫程式
<li>將每筆模擬投資的歷史交易結果，效益都條列出來，方便投資人修正自己的投資策略
<li>針對每筆交易時間區間，自動畫出技術線圖協助投資人分析
<br>
<br>
本網站工具的使用方式，可以點擊左上角<span class='text-danger'>使用說明</span>按鈕觀看
</div>

