<div class="footer">
  <p class="p-0">本網站所使用的資料來源皆來自於臺灣證券交易所，本網站分析工具，只提供投資上的輔助判斷。投資一定有風險，基金投資有賺有賠，申購前應詳閱公開說明書。</p>
  <p class="p-0">使用上有任何問題, 可與 twstocktracker@gmail.com 聯繫.©2021. TWStockTracker All rights reserved.</p>
</div>
