<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>登入</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">輸入名稱和信箱登入</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="loginForm" method="post" action="/dologin">
                            <fieldset>
                                <label for="username" class="form-label">使用者名稱</label>
                                <div class="form-group">
                                    <input class="form-control" placeholder="User" id="username" name="username" type="text" autofocus="" />
                                </div>
                                <label for="passwd" class="form-label">使用者密碼</label>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" id="password" name="password" type="password" autofocus="" />
                                </div>
                                <button type="submit" class="btn btn-primary">登入</button>
                         .      <button onclick="doRegistry()" type="button" class="btn btn-primary">註冊</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
function doRegistry() {
    window.location.href = "/registry";
}
</script>
</html>

