<div>
    <h6>快速選擇時間區段</h6>
    <div class="pl-1 row">
        <div class="pl-3 row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="allMonth" name="optradio" value="all" checked>
                <label class="form-check-label" for="allMonth">全部</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="oneMonth" name="optradio" value="mon1">
                <label class="form-check-label" for="oneMonth">一個月</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="twoMonth" name="optradio" value="mon2">
                <label class="form-check-label" for="twoMonth">兩個月</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="threeMonth" name="optradio" value="mon3">
                <label class="form-check-label" for="threeMonth">三個月</label>
            </div>
        </div>
        <div class="pl-3 row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sixMonth" name="optradio" value="mon6">
                <label class="form-check-label" for="sixMonth">六個月</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="oneYear" name="optradio" value="mon12">
                <label class="form-check-label" for="oneYear">一年</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="twoYear" name="optradio" value="mon24">
                <label class="form-check-label" for="twoYear">兩年</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="threeYear" name="optradio" value="mon36">
                <label class="form-check-label" for="threeYear">三年</label>
            </div>
        </div>
    </div>
    <br>
    <h6>自選區間</h6>
    <div class="rounded border border-dark bg-light">
        <div class="p-2 row">
            <span class='p-2'>開始:</span>
            <input type="text" name="date" class="form-control datepicker" id="startDate" value="" style="width: 110px">
            <span class='p-2'>結束:</span>
            <input type="text" name="date" class="form-control datepicker" id="endDate" value="" style="width: 110px">
        </div>
    </div>
    <br>
    <div class="rounded border border-dark bg-light table-responsive text-nowrap">
    <!-- <p class="text-right text-info">即時股價會有一段時間延遲, 僅供參考</p> -->
    <table
        id="monitorStocks" 
        data-toggle="table" 
        data-pagination="false" 
        data-thead-classes="table-dark">
        <thead>
            <tr>
                <th></th>
                <th>股票</th>
                <th>筆數</th>
                <th>交易#</th>
                <th>勝率</th>
                <th>總報酬率(%)</th>
                <th>狀態</th>
            </tr>
        </thead>
        <tbody id="monitorStocksBody">
        </tbody>
    </table>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <span class=''>根據策略, 重新計算</span>
            <br>
            <input type="button" id="resemu" value="重新計算" class="btn btn-info m-2" />
        </div>
        <div>
            <span>變更股票名單</span>
            <br>
            <input type="button" id="editStock" value="編輯" class="btn btn-info m-2" />
        </div>
    </div>
</div>
<script>
</script>
