<div class="modal" id="waitingForApply" tabindex="-1" role="dialog" aria-labelledby="waitingAddStockLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>正在套用您的設定....</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmErroorModal" tabindex="-1" role="dialog" aria-labelledby="confirmErroorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmErroorModalLabel">通知</h5>
            </div>
            <div class="modal-body">
                <label id="errMsg"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
