<html>
<head>
    <meta charset="UTF-8">
    <title>監控中心</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <script data-ad-client="ca-pub-7783898344053757" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/techanStyle.css?v=13">
    <% include banner %>
</head>
<body>
    <% include modal %>
    <div class="card">
        <div class="card-header">參數設定</div>
        <div class="card-body">
            <% include tradingCondition %>
        </div>
    </div>
    <div class="card">
        <div class="card-header">觀察中的股票</div>
        <div class="card-body">
            <% include observedStocks %>
        </div>
    </div>
    <div class="card">
        <div class="card-header">股票線圖</div>
        <div class="card-body">
            <% include candlestick %>
        </div>
    </div>
    <div class="card">
        <div class="card-header">歷史交易紀錄</div>
        <div class="card-body">
            <% include tradeHistory %>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/js/techan.js"></script>
<script src="/js/stockconfig.js"></script>
<script src="/js/calculator.js"></script>
<script src="/js/stocktool.js"></script>
<script src="/js/buyCondCtrl.js"></script>
<script src="/js/sellCondCtrl.js"></script>
<script>
var socket;
var stockDataUrl = '';
var buyAlgo = [];
var sellAlgo = [];

function showPopup(msg) {
    $('#errMsg').text(msg);
    $('#confirmErroorModal').modal('show');
}

$("#editStock").click(function() {
    window.location.href = "/stock/warehouse";
});

$('#monitorStocks').on('load-success.bs.table', function (e,data) {
    //console.log(data);
});

var showApplyLoading = function() {
    $("#waitingForApply").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: true //Display loader!
    });
}

var hideApplyLoading = function() {
    $('#waitingForApply').modal('hide');
}

var initGraph = function(buy = undefined, sell = undefined) {
    if (stockDataUrl == '')
        return;

    removeStockGraph();
    let opt = {
        ma5: $('#ma5Checkbox').prop('checked'),
        ma10: $('#ma10Checkbox').prop('checked'),
        ma20: $('#ma20Checkbox').prop('checked'),
        ma40: $('#ma40Checkbox').prop('checked'),
        ma60: $('#ma60Checkbox').prop('checked'),
        buy: buy,
        sell: sell,
    }

    initStockGraph(stockDataUrl, opt);
}

$('#applyStockConfig').click(function() {
    if (stockDataUrl == '')
        return;

    showApplyLoading();
    initGraph();
    setTimeout(function() {
        hideApplyLoading();
    },1000);
});

var applySelectStock = function(focusStockId) {
    let fixedDeltaMS = 0;
    if ($("#oneMonth").is(":checked")) {
        fixedDeltaMS = 30 * 24 * 60 * 60 * 1000;
    }
    if ($("#threeMonth").is(":checked")) {
        fixedDeltaMS = 3 * 30 * 24 * 60 * 60 * 1000;
    }
    if ($("#sixMonth").is(":checked")) {
        fixedDeltaMS = 6 * 30 * 24 * 60 * 60 * 1000;
    }
    if ($("#oneYear").is(":checked")) {
        fixedDeltaMS = 12 * 30 * 24 * 60 * 60 * 1000;
    }
    if ($("#twoYear").is(":checked")) {
        fixedDeltaMS = 2 * 12 * 30 * 24 * 60 * 60 * 1000;
    }
    if ($("#threeYear").is(":checked")) {
        fixedDeltaMS = 3 * 12 * 30 * 24 * 60 * 60 * 1000;
    }

    let startDate = $('#startDate').val();
    let endDate = $('#endDate').val();
    let startms = 0;
    let endms = 0;
    let data = {};
    if (startDate != '' && endDate != '') {
        startms = new Date(startDate).getTime();
        endms = new Date(endDate).getTime();
        if (startms >= endms) {
            showPopup('"開始日期"要小於"結束日期"');
            return;
        }
        data = {
            stock: focusStockId,
            startTime: startDate,
            endTime: endDate
        };
    }
    else if (fixedDeltaMS > 0) {
        let convertToDate = function(ms) {
            let d = new Date(ms);
            let yyyy = d.getFullYear();
            let mm = d.getMonth() + 1;
            let dd = d.getDate();
            let d2 = mm + '/' + dd + '/' + yyyy;
            return d2; 
        }
        endms = new Date().getTime();
        startms = endms - fixedDeltaMS;
        
        data = {
            stock: focusStockId,
            startTime: convertToDate(startms),
            endTime: convertToDate(endms)
        };
    }
    else {
        data = {
            stock: focusStockId
        };
    }

    //console.log(data);

    showApplyLoading();
    $.ajax({
        type: 'POST',
        url: '/stock/genstock',
        data: data,
        success: function(res){
            //console.log(res);
            if (res.dataUrl != undefined && res.dataUrl != '') {
                stockDataUrl = res.dataUrl;
                let trades = genTradeHistory(focusStockId);
                let buy = [];
                let sell = [];
                trades.forEach(function(item){
                    buy.push({date: item.buy.date, price: item.buy.price});
                    if (item.sell.date == 'RealTime')
                        return;
                    sell.push({date: item.sell.date, price: item.sell.price});
                });
                initGraph(buy, sell);
            }
        }
    }).always(function(){
        hideApplyLoading();
    });

}

var focusTradeStockPeriod = function(stockId, begin, end, buyPrice, sellPrice, buyDate, sellDate) {
    let data = {
        stock: stockId,
        startTime: begin,
        endTime: end
    };
    showApplyLoading();
    $.ajax({
        type: 'POST',
        url: '/stock/genstock',
        data: data,
        success: function(res){
            //console.log(res);
            if (res.dataUrl != undefined && res.dataUrl != '') {
                stockDataUrl = res.dataUrl;
                let buy = [{
                    price: buyPrice,
                    date: buyDate,
                }];
                let sell = [{
                    price: sellPrice,
                    date: sellDate,
                }];
                initGraph(buy, sell);
            }
        }
    }).always(function(){
        hideApplyLoading();
    });
}

var genMonitorStocksTable = function(rows) {
    let html = '';
    for (let i=0 ; i<rows.length ; i++) {
        let s = rows[i];
        //begin
        html += '<tr>\n';

        // index
        html += '<td>' + (i + 1) + '</td>\n';

        // stock no
        html += '<td>' + s.stock + '</td>\n';

        // stock name
        html += '<td>' + s.name + '</td>\n';

        // data count
        html += '<td>' + s.dataCount + '</td>\n';

        // deal count
        html += '<td id="dealCount_' + s.stock + '"></td>\n';

        // win rate
        html += '<td id="winRate_' + s.stock + '"></td>\n';

        // profit
        html += '<td id="profit_' + s.stock + '"></td>\n';

        // status
        html += '<td id="status_' + s.stock + '"></td>\n';

        // button
        html += '<td>\n';
        html += '<img class="Image pt-0 pb-0" '
              + 'src="../images/details.png" width="26" height="26" '
              + 'onClick="applySelectStock(\'' + s.stock + '\')">\n';
        html += '</td>\n';

        //end
        html += '</tr>\n';
    }
    $('#monitorStocksBody').html(html);
}

var loadMonitorStocks = function() {
    showApplyLoading();
    $.ajax({
        type: 'POST',
        url: '/stock/monitorStocks',
        success: function(data){
            genMonitorStocksTable(data.rows);
            semu(data.rows);
        }
    }).always(function(){
        hideApplyLoading();
    });
}

$('#resemu').on('click', function(){
    removeStockGraph();
    semuStocks = {};
    loadMonitorStocks();
});

$('#saveConfig').on('click', function() {
    let data = {
        buy: buyAlgo,
        sell: sellAlgo
    };
    //console.log(data);
    //console.log(JSON.stringify(data));
    showApplyLoading();
    $.ajax({
        type: 'POST',
        url: '/stock/saveConfig',
        data: {
            settings: JSON.stringify(data)
        },
        success: function(data){
        }
    }).always(function(){
        hideApplyLoading();
    });
});

var setupFunc = function(json) {
    //console.log(json);
    if (json.settings == undefined)
        return;
    let algo = json.settings;
    //console.log(algo);
    buyAlgo = algo.buy;
    sellAlgo = algo.sell;
    updateBuyCond();
    updateSellCond();
    loadMonitorStocks();
}

$(function() {
    registryOnlineCB(updateOnline);
    registrySetupCB(setupFunc);
    socket = initSocketIO();

    $('.datepicker').datepicker();

    regBuyEvent();
    regSellEvent();
});
</script>
</html>
