<div>
    <div class="rounded border border-dark bg-light table-responsive text-nowrap" style="height: 400px">
    <table
        id="monitorStocks" 
        data-toggle="table" 
        data-pagination="false" 
        data-thead-classes="table-dark">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">#</th>
                <th data-field="stock" data-sortable="true">股票代號</th>
                <th data-field="name" data-sortable="true">股票名稱</th>
                <th data-field="dataCount" data-sortable="true">資料筆數</th>
                <th data-field="dealCount" data-sortable="true">交易次數</th>
                <th data-field="win" data-sortable="true">勝率(%)</th>
                <th data-field="profit" data-sortable="true">總價差</th>
                <th data-field="status" data-sortable="true">狀態</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="monitorStocksBody">
        </tbody>
    </table>
    </div>
    <div class="d-flex justify-content-between">
        <div>
        </div>
        <div>
            <span class=''>變更觀察中的股票</span>
            <input type="button" id="editStock" value="編輯" class="btn btn-info m-2" />
        </div>
    </div>
</div>
<script>
</script>
