<div>
    <div class="rounded border border-dark bg-light table-responsive text-nowrap" style="height: 400px">
    <table
        id="monitorStocks" 
        data-toggle="table" 
        data-pagination="false" 
        data-thead-classes="table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>股票代號</th>
                <th>股票名稱</th>
                <th>資料筆數</th>
                <th>交易次數</th>
                <th>勝率(%)</th>
                <th>總報酬率(%)</th>
                <th>狀態</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="monitorStocksBody">
        </tbody>
    </table>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <span class=''>根據買點/賣點設定, 重新計算</span>
            <input type="button" id="resemu" value="重新計算" class="btn btn-info m-2" />
        </div>
        <div>
            <span class=''>變更觀察中的股票</span>
            <input type="button" id="editStock" value="編輯" class="btn btn-info m-2" />
        </div>
    </div>
</div>
<script>
</script>
