<div class='p-2'>
不同股票有不同的股票特性，很難有單一種交易策略可以適用全部股票，所以在調整交易策略時，可以先鎖定特定數目的股票開始調整，另外交易策略的調整方式有很多種，這邊提供一個如何使用本網站分析工具的方式
<ol>
    <li>在<span class='text-primary'>觀察中的股票</span>點擊<span class='text-primary'>變更股票名單</span>選擇所要模擬的股票列表
    <li>新增心中想要的買入/賣出參數
    <li>點擊<span class='text-primary'>重新計算</span>，此時會根據2)所設定的參數，開始回測
    <li>觀察<span class='text-primary'>勝率</span>和<span class='text-primary'>總報酬率</span>
    <li>回測結果滿意之後，再把更多股票列入觀察名單中，找出符合此策略股性的股票
</ol>
在回測的結果中，儘量讓勝率越高越好，因為最終目標看能否達成<span class='text-danger'>輸少贏多</span>的目標，在勝率可以接受的情況下，再看總報酬率是否符合自己的期待，策略的調整優化過程，就是不斷地重複2->3->4 這幾個步驟，直到結果滿意為主

</div>

