<div>
    <div class="rounded border border-dark bg-light table-responsive text-nowrap">
    <table
        id="monitorStocks" 
        data-toggle="table" 
        data-pagination="false" 
        data-thead-classes="table-dark">
        <thead>
            <tr>
                <th data-sortable="true">#</th>
                <th data-sortable="true">時間區段</th>
                <th data-sortable="true">股價變化</th>
                <th data-sortable="true">交易參數</th>
                <th data-sortable="true">效益</th>
            </tr>
        </thead>
        <tbody id="tradeHistoryBody">
        </tbody>
    </table>
    </div>
</div>
