<!DOCTYPE html>
<html>
<style>
</style>

<head>
    <meta charset="UTF-8">
<% if (username == 'ADMIN') { %>
    <title>股票管理 - 管理者!!!!</title>
<% } else { %>
    <title>股票管理</title>
<% } %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/techanStyle.css?v=3">
    <% include banner %>
</head>

<body>
    <% if (username == 'ADMIN') { %>
    <div class="modal fade" id="delUserModal" tabindex="-1" role="dialog" aria-labelledby="delUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <label id="delUserMsg">確定要刪除以下使用者</label>
                    <textarea class="form-control rounded-0" id="delUsersMsg" rows="6" readonly></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="delUsersAction">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="queryDelModal" tabindex="-1" role="dialog" aria-labelledby="queryDelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <label id="queryDelMsg">確定要刪除以下股票</label>
                    <textarea class="form-control rounded-0" id="queryDelStocks" rows="6" readonly></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="delSavedStocksAction">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="refreshModal" tabindex="-1" role="dialog" aria-labelledby="refreshModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <label id="refreshMsg">確定要重新抓取所有股票歷史紀錄?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="refreshStocksAction">Refresh ALL !</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="modal fade" id="waitingAddStock" tabindex="-1" role="dialog" aria-labelledby="waitingAddStockLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>正在更新您的設定....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmErroorModal" tabindex="-1" role="dialog" aria-labelledby="confirmErroorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmErroorModalLabel">通知</h5>
                </div>
                <div class="modal-body">
                    <label id="errMsg"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="input-group text-center">
        &nbsp;&nbsp;
        <input type="button" id="queryStock" value="股票代碼查詢" class="btn btn-dark" />
        &nbsp;&nbsp;
        <label for="inputStockId" class="align-items-center col-sm-1">股票代號</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputStockId" placeholder="請輸入股票代號">
        </div>
        <select class="selectpicker">
            <option value='TYPE1'>上市</option>
        </select>
        &nbsp;&nbsp;
        <input type="button" id="addStock" value="新增" class="btn btn-dark" />
        <button class="btn btn-light" id="addStockLoading" type="button" disabled hidden>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            新增中...
        </button>
    </div>
    <hr>
    <div class="p-2">
    <table class="table align-middle">
        <tbody>
            <tr>
                <td width="190px">
                    <label class="text-dark">股票歷史資料下載進度</label>
                </td>
                <td>
                    <div class="progress" style="height: 26px;">
                        <div class="progress-bar progress-bar-striped text-light bg-dark" role="progressbar" id="stockProgressBar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table 
        id="queuedStocks" 
        data-toggle="table" 
        data-search="true"
        data-pagination="true" 
        data-thead-classes="table-dark"
        data-page-list="[10, 25, 50, All]"> 
        <thead>
            <tr>
                <th data-field="id">#</th>
                <th data-field="stock" data-sortable="true">股票代號</th>
                <th data-field="name" data-sortable="true">股票名稱</th>
                <th data-field="status" data-sortable="true">狀態</th>
            </tr>
        </thead>
    </table>
    </div>
    <hr>
    <div class="p-2">
        <label class="text-dark">選取想要監控的股票(最多10筆), 選擇好之後點選"確認":</label>
        <input type="button" id="confirmStocks" value="確認" class="btn btn-dark" />
        <% if (username == 'ADMIN') { %>
            <input type="button" id="deleteStocks" value="刪除" class="btn btn-primary" />
            <button class="btn btn-light" id="delStockLoading" type="button" disabled hidden>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                刪除中...
            </button>
            <input type="button" id="refetchAllStocks" value="重新抓取" class="btn btn-primary" />
        <% } %>
        <br>
        <label class="text-dark">目前可使用的股票資料如下:</label>
        <table 
            id="savedStocks" 
            data-toggle="table" 
            data-search="true"
            data-pagination="true" 
            data-thead-classes="table-dark"
            data-page-list="[10, 25, 50, All]"> 
            <thead>
                <tr>
                    <th data-checkbox="true" data-formatter="stateFormatter"></th>
                    <th data-field="id">#</th>
                    <th data-field="stock" data-sortable="true">股票代號</th>
                    <th data-field="name" data-sortable="true">股票名稱</th>
                    <th data-field="count" data-sortable="true">資料筆數</th>
                    <th data-field="type" data-sortable="true">種類</th>
                </tr>
            </thead>
        </table>
    </div>
    <hr>
    <% if (username == 'ADMIN') { %>
    <label class="text-dark">使用者資訊:</label>
    <input type="button" id="deleteUser" value="刪除使用者所有資訊" class="btn btn-primary" />
    <input type="button" id="clearUserStocks" value="清除使用者股票資訊" class="btn btn-primary" />
    <table 
        id="allUsers" 
        data-toggle="table" 
        data-search="true"
        data-pagination="true" 
        data-thead-classes="table-dark"
        data-page-list="[10, 25, 50, All]"> 
        <thead>
            <tr>
                <th data-filed="saved" data-checkbox="true"></th>
                <th data-field="id">#</th>
                <th data-field="username" data-sortable="true">名稱</th>
                <th data-field="email" data-sortable="true">信箱</th>
                <th data-field="count" data-sortable="true">數目</th>
                <th data-field="list">觀察名單列表:</th>
            </tr>
        </thead>
    </table>
    <% } %>
</body>
<script>

var maxMonitoredStocks = <%= maxMonitoredStocks %>;
var socket;
var savedStocks = [];

function stateFormatter(value, row, index) {
    if (savedStocks == undefined)
        return false;

    for (let i=0 ; i<savedStocks.length ; i++) {
        if (row.stock == savedStocks[i])
            return true;
    }
    return false;
}

function initSavedStockSelection(allStockData) {
}

function updateSavedTable(code) {
    $.ajax({
        type: 'POST',
        url: '/stock/warehouse/listUserStockNos',
        success: function(data){
            savedStocks = data;            
            $('#savedStocks').bootstrapTable(
                'refresh', {
                    url: '/stock/warehouse/stocks'
                }
            );
        }
    });

}

function updateQueuedTable(code) {
    $('#queuedStocks').bootstrapTable('refresh', {
        url: '/stock/warehouse/queuedStockData'
    });
}

function setAddStockButton(enabled) {
    $('#addStock').attr('disabled', !enabled);
    $('#inputStockId').attr('disabled', !enabled);
    $('.selectpicker').attr('disabled', !enabled);
    $('#addStockLoading').attr('hidden', enabled);
}

function showPopup(msg) {
    $('#errMsg').text(msg);
    $('#confirmErroorModal').modal('show');
}

$('#confirmStocks').click(function() {
    console.log('click');
    let monitorStocks = [];
    $('#savedStocks > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let stockId = $(this).find('td').slice(2,3).text();
            monitorStocks.push(stockId);
        }
    });

    if (monitorStocks.length > maxMonitoredStocks) {
        showPopup('選取超過 <%= maxMonitoredStocks %> 筆的股票資料');
        return;
    }
    else if (monitorStocks.length == 0) {
        showPopup('請至少選擇一筆股票資料');
        return;
    }

    socket.emit('addMonitorStocks', monitorStocks);
    $("#waitingAddStock").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: true //Display loader!
    });
});

$("#addStock").click(function() {
    let stockId = $('#inputStockId').val();
    let selectedItem = $('.selectpicker').val();
    console.log('select: ' + selectedItem);
    console.log('add: ' + stockId);

    if (stockId.length == 0) {
        showPopup('請輸入股票代號');
        return;
    } 

    let data = {
        stock: stockId,
        type: selectedItem
    };

    socket.emit('addStock', data);
    setAddStockButton(false);
})

$("#queryStock").click(function() {
    window.open('http://moneydj.emega.com.tw/js/StockTable.htm', '_blank');
});

var setupFunc = function(json) {
    console.log(json);
    if (json.testing != undefined) {
        setAddStockButton(!json.testing);
        $('#inputStockId').val(json.stock);
    }
}

var addStockResultFunc = function(json) {
    setAddStockButton(true);
    if (json.status == 'OK')
        showPopup('新增成功');
    else if (json.status == 'duplicated')
        showPopup('新增失敗. 已經存在佇列中');
    else if (json.status == 'existed')
        showPopup('新增失敗. 已經存在股票倉庫中');
    else if (json.status == 'illegal stock id')
        showPopup('新增失敗. 不合法的股票代號');
}

var updateQueuedTableFunc = function(json) {
    console.log(json);
    let progressVal = '0%';
    let progressText = '';
    if (json.total != undefined) {
        let progress = Math.round((json.completed * 100) / json.total);
        if (progress < 100) {
            progressVal = 'width: ' + progress.toFixed() + '%';
            progressText = json.name + '[' + json.stock + '] - ' + progress.toFixed() + '%';
        }
    }
    $('#stockProgressBar').attr('style', progressVal);
    $('#stockProgressBar').text(progressText);
    updateQueuedTable();
}

var updateSavedTableFunc = function(json) {
    updateSavedTable();
}

var addMonitorStocksOKFunc = function(json) {
    window.location.href = "/stock/monitor";
}

$(function() {
    updateSavedTable();
    updateQueuedTable();
<% if (username == 'ADMIN') { %>
    updateAllUsersTable();
<% } %>

    registryOnlineCB(updateOnline);
    registrySetupCB(setupFunc);
    registryAddStockResultCB(addStockResultFunc);
    registryUpdateQueuedTableCB(updateQueuedTableFunc);
    registryUpdateSavedTableCB(updateSavedTableFunc);
    registryAddMonitorStocksOKCB(addMonitorStocksOKFunc);
<% if (username == 'ADMIN') { %>
    registryDelSavedStockConfirmCB(delSavedStockConfirmFunc);
    registryDelUsersOKCB(delUsersOKFunc);
<% } %>
    socket = initSocketIO();
})

<% if (username == 'ADMIN') { %>
//
// delete saved stocks
//
var delSavedStockConfirmFunc = function() {
    $('#delStockLoading').attr('hidden', true);
    $('#deleteStocks').attr('disabled', false);
}

var delStocks = [];
$('#deleteStocks').click(function() {
    delStocks = [];
    let delMsg = '';
    $('#savedStocks > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let stockId = $(this).find('td').slice(2,3).text();
            let stockName = $(this).find('td').slice(3,4).text();
            delStocks.push(stockId);
            delMsg += stockName + '[' + stockId + ']\n';
        }
    });
    if (delStocks.length == 0)
        return;

    $('#queryDelStocks').text(delMsg);
    $('#queryDelModal').modal('show');
});

$('#delSavedStocksAction').click(function() {
    socket.emit('deleteSavedStock', delStocks);
    $('#delStockLoading').attr('hidden', false);
    $('#deleteStocks').attr('disabled', true);
});

//
// refresh all saved stocks
//
$('#refetchAllStocks').click(function() {
    $('#refreshModal').modal('show');
});

$('#refreshStocksAction').click(function() {
    socket.emit('refreshAllStock', delStocks);
});

//
// manage all users
//
function updateAllUsersTable() {
    $('#allUsers').bootstrapTable('refresh', {
        url: '/stock/warehouse/allUsers'
    });
}

var delUsersData = [];
var clearUsersData = [];
$('#deleteUser').click(function() {
    delUsersData = [];
    clearUsersData = [];
    let delMsg = '';
    $('#allUsers > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let user = $(this).find('td').slice(2,3).text();
            let email = $(this).find('td').slice(3,4).text();
            delUsersData.push(user);
            delMsg += 'Account: ' + user + '[' + email + ']\n';
        }
    });
    if (delUsersData.length == 0)
        return;

    $('#delUsersMsg').text(delMsg);
    $('#delUserModal').modal('show');
});

$('#clearUserStocks').click(function() {
    delUsersData = [];
    clearUsersData = [];
    let delMsg = '';
    $('#allUsers > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let user = $(this).find('td').slice(2,3).text();
            let email = $(this).find('td').slice(3,4).text();
            clearUsersData.push(user);
            delMsg += 'Clear Stocks: ' + user + '[' + email + ']\n';
        }
    });
    if (clearUsersData.length == 0)
        return;

    $('#delUsersMsg').text(delMsg);
    $('#delUserModal').modal('show');
});

$('#delUsersAction').click(function() {
    console.log(delUsersData);
    console.log(clearUsersData);
    if (delUsersData.length > 0)
        socket.emit('delUsers', delUsersData);
    else
        socket.emit('clearUsers', clearUsersData);
});

var delUsersOKFunc = function(data) {
    updateAllUsersTable();
}
<% } %>

</script>

</html>
