<!DOCTYPE html>
<html>
<style>
.select,
#locale {
    width: 100%;
}

.like {
    margin-right: 10px;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>股票管理</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <% include banner %>
</head>

<body>
    <div class="modal fade" id="confirmErroorModal" tabindex="-1" role="dialog" aria-labelledby="confirmErroorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmErroorModalLabel">通知</h5>
                </div>
                <div class="modal-body">
                    <label id="errMsg"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="input-group text-center">
        &nbsp;&nbsp;
        <input type="button" id="queryStock" value="股票代碼查詢" class="btn btn-dark" />
        &nbsp;&nbsp;
        <label for="inputStockId" class="align-items-center col-sm-1">股票代號</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputStockId" placeholder="請輸入股票代號">
        </div>
        <select class="selectpicker">
            <option value='TYPE1'>上市</option>
        </select>
        &nbsp;&nbsp;
        <input type="button" id="addStock" value="新增" class="btn btn-dark" />
        <button class="btn btn-light" id="addStockLoading" type="button" disabled hidden>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            新增中...
        </button>
    </div>
    <hr>
    <table class="table align-middle">
        <tbody>
            <tr>
                <td width="190px">
                    <label class="text-dark">股票歷史資料下載進度</label>
                </td>
                <td>
                    <div class="progress" style="height: 26px;">
                        <div class="progress-bar progress-bar-striped text-light bg-dark" role="progressbar" id="stockProgressBar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table 
        id="queuedStocks" 
        data-toggle="table" 
        data-search="true"
        data-pagination="true" 
        data-thead-classes="table-dark"
        data-page-list="[10, 25, 50, All]"> 
        <thead>
            <tr>
                <th data-field="id">#</th>
                <th data-field="stock" data-sortable="true">股票代號</th>
                <th data-field="name" data-sortable="true">股票名稱</th>
                <th data-field="status" data-sortable="true">狀態</th>
            </tr>
        </thead>
    </table>
    <hr>
    <label class="text-dark">選取想要監控的股票(最多10筆), 選擇好之後點選"確認":</label>
    <input type="button" id="confirmStocks" value="確認" class="btn btn-dark" />
    <% if (username == 'ADMIN') { %>
        <input type="button" id="deleteStocks" value="刪除" class="btn btn-primary" />
    <% } %>
    <br>
    <label class="text-dark">目前可使用的股票資料如下:</label>
    <table 
        id="savedStocks" 
        data-toggle="table" 
        data-search="true"
        data-pagination="true" 
        data-thead-classes="table-dark"
        data-page-list="[10, 25, 50, All]"> 
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="id">#</th>
                <th data-field="stock" data-sortable="true">股票代號</th>
                <th data-field="name" data-sortable="true">股票名稱</th>
                <th data-field="count" data-sortable="true">資料筆數</th>
                <th data-field="type" data-sortable="true">種類</th>
            </tr>
        </thead>
    </table>
</body>
<script>

var maxMonitoredStocks = <%= maxMonitoredStocks %>;
var socket;

function updateSavedTable(code) {
    $('#savedStocks').bootstrapTable('refresh', {
        url: '/stock/warehouse/stocks'
    });
}

function updateQueuedTable(code) {
    $('#queuedStocks').bootstrapTable('refresh', {
        url: '/stock/warehouse/queuedStockData'
    });
}

function setAddStockButton(enabled) {
    $('#addStock').attr('disabled', !enabled);
    $('#inputStockId').attr('disabled', !enabled);
    $('.selectpicker').attr('disabled', !enabled);
    $('#addStockLoading').attr('hidden', enabled);
}

function showPopup(msg) {
    $('#errMsg').text(msg);
    $('#confirmErroorModal').modal('show');
}

$('#confirmStocks').click(function() {
    console.log('click');
    let monitorStocks = [];
    $('#savedStocks > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let stockId = $(this).find('td').slice(2,3).text();
            monitorStocks.push(stockId);
        }
    });

    if (monitorStocks.length > maxMonitoredStocks) {
        showPopup('選取超過 <%= maxMonitoredStocks %> 筆的股票資');
    }
});

$("#addStock").click(function() {
    let stockId = $('#inputStockId').val();
    let selectedItem = $('.selectpicker').val();
    console.log('select: ' + selectedItem);
    console.log('add: ' + stockId);

    if (stockId.length == 0) {
        showPopup('請輸入股票代號');
        return;
    } 

    let data = {
        stock: stockId,
        type: selectedItem
    };

    socket.emit('addStock', data);
    setAddStockButton(false);
})

$("#queryStock").click(function() {
    window.open('http://moneydj.emega.com.tw/js/StockTable.htm', '_blank');
});

var setupFunc = function(json) {
    console.log(json);
    if (json.testing != undefined) {
        setAddStockButton(!json.testing);
        $('#inputStockId').val(json.stock);
    }
}

var addStockResultFunc = function(json) {
    setAddStockButton(true);
    if (json.status == 'OK')
        showPopup('新增成功');
    else if (json.status == 'duplicated')
        showPopup('新增失敗. 已經存在佇列中');
    else if (json.status == 'existed')
        showPopup('新增失敗. 已經存在股票倉庫中');
    else if (json.status == 'illegal stock id')
        showPopup('新增失敗. 不合法的股票代號');
}

var updateQueuedTableFunc = function(json) {
    console.log(json);
    let progressVal = '0%';
    let progressText = '';
    if (json.total != undefined) {
        let progress = Math.round((json.completed * 100) / json.total);
        if (progress < 100) {
            progressVal = 'width: ' + progress + '%';
            progressText = json.name + '[' + json.stock + '] - ' + progress + '%';
        }
    }
    $('#stockProgressBar').attr('style', progressVal);
    $('#stockProgressBar').text(progressText);
    updateQueuedTable();
}

var updateSavedTableFunc = function(json) {
    updateSavedTable();
}

$(function() {
    updateSavedTable();
    updateQueuedTable();

    registryOnlineCB(updateOnline);
    registrySetupCB(setupFunc);
    registryAddStockResultCB(addStockResultFunc);
    registryUpdateQueuedTableCB(updateQueuedTableFunc);
    registryUpdateSavedTableCB(updateSavedTableFunc);
    socket = initSocketIO();
})

<% if (username == 'ADMIN') { %>
$('#deleteStocks').click(function() {
    let monitorStocks = [];
    $('#savedStocks > tbody  > tr').each(function(){
        if ($(this).attr('class') != undefined && $(this).attr('class').indexOf('selected') >= 0) {
            let stockId = $(this).find('td').slice(2,3).text();
            monitorStocks.push(stockId);
        }
    });
    console.log(monitorStocks);
});
<% } %>

</script>

</html>
